/* _mediaQueries.scss */

@media (max-width: 1000px) {

    /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
    .guarantees {
        .shopOptions {
            justify-content: space-between;
        }
        .guaranteeContainer {
            width: calc(45% - 40px);
            margin: 0 20px 40px 20px;
        }
    }


    footer {
        .footerFlexContainer {
            flex-direction: column;
            align-items: center;
            margin-bottom: 100px;

            .logo {
                margin: 0 0 30px 0;
            }
        }

        .footerNav {
            width: 80%;

            nav {
                ul {
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    /* all of our styles for TABLET devices will go within this breakpoint */
    header {
        flex-direction: column;

        .headerImgContainer{
            min-width: 100%;
        }
    
    }

    .headerContent {
        min-width: 100%;
    }

    header .headerContent .contentContainer .playContainer{
        width: 90%;
        padding: 50px 0;
    }
    .productImgContainer{
        width: calc((100%/2) - 30px);
    }
}

@media (max-width: 500px) {
    /* all of our styles for MOBILE devices will go within this breakpoint */
    html {
        font-size: 100%;
    }

    .slideOutNav {
        width: 100%;

        .mainMenu {
            a {
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }



    header {
        flex-direction: column;

        .headerImgContainer{
            min-width: 100%;
        }
    
    }

    .headerContent {
        min-width: 100%;
    }

    header .headerContent .contentContainer .playContainer{
        width: 90%;
        padding: 50px 0;
    }

    .contentContainer h3{
        font-size: 2rem;
    }


    .categoryGallery .items {
        width: 100%;
        padding: 20px;
        margin: 10px 10px 10px;
    }

    .categoryGallery {
        margin: 100px 0;
    }

    .product{
        flex-direction: column;
    }


    .guarantees {
        .shopOptions {
            flex-direction: column;
            align-items: center;
        }
        .guaranteeContainer {
            width: 85%;
            margin: 0 0 50px 0;
        }
    }

    .mapForm{
        .wrapper{
            flex-direction: column;

                .mapContainer{
                    width: 100%;
                    margin-left: 0px;
                }
                .formContainer{
                    width: calc(70% - 40px);
                    margin-left: 40px;
                    padding-top: 20px;

                    .form{
                        max-width: 50%;
                    }
                }
        }
    }

    footer {
        .footerFlexContainer {
            margin-bottom: 60px;
        }

        .footerNav {
            nav {
                flex-direction: column;
                align-items: center;
                text-align: center;

                ul {
                    margin-bottom: 24px;
                    width: 100%;
                }
            }
        }
    }
    .mapContainer {
        .map {
            width: 100%;
        }
    }
}