.shop {
    section {
        padding: 90px 0;
        margin: 0;
    }
}
.inventory {
    h2 {
        text-align: center;
    }
    .product {
        // justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;

        a {
            display: block;
            &:hover {
                transform: rotateZ(2deg) translate(5px);
            }
            &:focus {
                transform: rotateZ(2deg) translate(5px);
            }
        }

        .productImgContainer{
            flex-basis: calc((100%/3) - 30px);
            margin: 5px 15px;
            text-align: center;
            img{
                border-radius: 10px;
            }
            .popularProduct{
                font-weight: bold;
            }
            .discountedPrice{
                display: inline-block;
                text-decoration: none;
                text-decoration: line-through;
                color: rgba($color: $primary, $alpha: 0.5);
                padding-right: 10px;
            }
            .price{
                display: inline-block;
            }
        }
    }
}
.guarantees {
    background-color: $quaternary;
    position: relative;
    text-align: center;
    &::before {
        content: '';
        background-image: url(../assets/wave-3.svg);
        background-color: $quaternary;
        background-position: top center;
        background-size: 1500px 60px;
        background-repeat: repeat-x;
        position: absolute;
        left: 0;
        right: 0;
        top: -60px;
        height: 3rem;
    }
    .shopOptions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .guaranteeContainer {
        width: calc(25% - 40px);
        margin: 0 20px;

        .imgContainer{
            display: flex;
            justify-content: center;
        }
    }
}
